body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  color: #0f0;
  text-align: center;
  font-weight: bold;
  animation: brightnessPulse 5s ease-in-out infinite;
}

@keyframes brightnessPulse {
  0% { filter: brightness(0.5); }
  50% { filter: brightness(1); }
  100% { filter: brightness(0.5); }
}

header {
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

.nav-btn {
  background: transparent;
  border: 2px solid #0f0;
  color: #0f0;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
}

.nav-btn:hover {
  color: #000;
  background: #0f0;
  transform: scale(1.1);
}

main h1 {
  font-size: 48px;
  margin-top: 50px;
  font-weight: bold;
}

.counter-container {
  font-size: 32px;
  margin: 20px 0;
  font-weight: bold;
}

.langs {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.langs li {
  margin: 10px 15px;
  padding: 5px 10px;
  border: 2px solid #0f0;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
}

.langs li:hover {
  color: #000;
  background: #0f0;
  transform: scale(1.2);
}